<h2><%= @meme["title"] || @meme["name"] %></h2>
<img src="<%= @meme["file"] || @meme["url"] %>" alt="<%= @meme["title"] || @meme["name"] %>">

<p>Views: <%= @views %></p>
<p><a href="/category/<%= @category_name %>">Back to <%= @category_name.capitalize %></a></p>
<p><a href="/">Back to Home</a></p>
