<h2><%= @meme["title"] %></h2>
<img src="<%= @meme["file"] %>" alt="<%= @meme["title"] %>" width="400">

<p>Views: <%= @views %></p>
<p><a href="/category/<%= @category_name %>">Back to <%= @category_name.capitalize %></a></p>
<p><a href="/">Back to Home</a></p>
